@{
    ViewBag.Title = "О НАС";
}
<h1 class="text-center">@ViewBag.Title</h1>
<br />

<h2>О компании</h2><br />
<h4>Уже более десятка лет наша компания делает все,
    чтобы ремонт радиотелефонной аппаратуры для наших клиентов был максимально быстрым и удобным.
    Проблемы с тем, чтобы найти качественный сервис и добраться до него, остались в прошлом.
    Вы можете связаться с нами и наш сотрудник приедет к Вам, обсудит детали ремонта, а затем привезет отремонтированную аппаратуру в указанный срок.</h4>

<h2>Внимание к деталям</h2><br />
<h4>
    В своей работе мы уделяем внимание всем мелочам,
    осознавая, что комфорт клиента зависит не только от скорости перевозки,
    но и от удобства салона, вежливости обслуживающего персонала, доступности цен.
</h4>