@{
    ViewBag.Title = "КОНТАКТНЫЕ ДАННЫЕ";
}
<h1 class="text-center">@ViewBag.Title</h1>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h4>г.Минск</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h4>ул.Глаголева,42</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <h4> <abbr title="Phone">P:&nbsp;</abbr>8(017)2087923</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h4>Написать письмо: <a href="mailto:bondagefist@mail.ru">bondagefist@mail.ru</a></h4>
        </div>
    </div>
</div>

