@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "НАШИ ПРЕИМУЩЕСТВА";
}

<h2 class="text-center">@ViewBag.Title</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-primary mb-3 text-center text-white">
                <div class="card-header">Отличная цена</div>
                <div class="card-body">
                    <h4>Стоимость работ не более 20 BYN</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary mb-3 text-center text-white">
                <div class="card-header">Современное оборудование</div>
                <div class="card-body">
                    <h4>Мастерские нашей компании оснащены самым современным оборудованием</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary mb-3 text-center text-white">
                <div class="card-header">Довольные клиенты</div>
                <div class="card-body">
                    <h4>Более 100 человек каждый день пользуются нашими услугами</h4>
                </div>
            </div>
        </div>
       
    </div>
</div>