@model IEnumerable<test.Заказы>

@{
    ViewBag.Title = "Profit";
    Layout = "~/Views/Admin/_LayoutPageAdmin.cshtml";
}

<h2>ДОХОДЫ ОТ ДЕЯТЕЛЬНОСТИ</h2>
<br />

<table class="table">
    <tr>
        <th>
           Выполенено заказов на сумму
        </th>
        <th>  
            @{
                double  n=0;
                double overall = 0;
            }
            @foreach (var item in Model)
            {
                n = 0;
                if(item.СостояниеID==2)
                {
                    n = item.ВидРемонта.ЦенаРемонта + item.Запчасти.ЦенаЗапчасти;
                    overall += n;
                }
            }
            @overall &nbsp;BYN
        </th>
       
    </tr>
</table>
